*.pc
*.sum
*.swp
*bak
*.distinfo
*orig
*rej
*~
aclocal.m4
autom4te.cache/
BUILD-env.sh
compile
compile_flags.txt
confdefs.h
config.*
configure
/debian
defines.gdb
depcomp
distinfo
install-sh
libtool
ltmain.sh
Makefile
/Makefile.in
missing
netifyd-CentOS_8.spec
netifyd-debug.conf
netifyd-*.tar.gz
netifyd-*.txz
/.scannerwork
/scratch
stamp-h1
test-driver
ylwrap
